.mail-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.mail-list-container {
    flex: 6;
}

@media all and (max-width: 700px) {
    .mail-container {
        flex-direction: column;
    }
    .side-menu {
        order: 2;
        background-color: #01638a;
        background-image: none;
    }
    .side-menu-item{
        margin: auto 0;
    }
    .side-menu-list {
        flex-direction: row;
        display: flex;
    }
    .mail-list-container {
        flex: 11;
    }
    .title {
        display: none;
    }
    .mail-item {
        flex-direction: column;
    }
    .date {
        position: absolute;
        right: 0;
    }
}