.mail-item-container {
    border-bottom: 1px solid lightgray;
}

.mail-item {
    display: flex;
    cursor: pointer;
    transition: all .2s;
    padding: 10px;
    width: 100%;
}

.mail-item-mobile:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mail-item-info {
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-item-mobile {
    display: flex;
    flex-direction: row;
    transition: all .2s;
}

.from {
    /* flex: 2; */
    flex-basis: 150px;
}

.subject {
    /* flex: 3; */
    flex-basis: 200px;
}

.body {
    /* flex: 5; */
    flex: 1;
}

.time {
    /* flex: 2; */
}

.mail-preview {
    padding: 15px;
    word-break: break-all
}

.mail-preview-top {
    display: flex;
    justify-content: space-between;
}

.mail-preview-body {
    padding: 15px;
}

.mail-preview-button {
    color: #444;
    font-size: 1.3rem;
    background-color: #bbb;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: all .1s;
}

.mail-preview-button:hover {
    color: black;
}

.mail-item-pic {
    border-radius: 50%;
    color: white;
    padding: 10px;
    display: none;
    margin: auto 10px;
    width: 75px;
    height: 75px;
}

.mail-item-pic p {
    text-align: center;
    font-size: 1.1rem;
}

.opts-menu {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    flex-basis: 275px
}

.opts-menu-item {
    padding: 12px;
    outline: none;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #444;
}

.opts-menu-item:hover {
    background: #ececec;
}

.mail-preview-content {
    display: flex;
    justify-content: space-between;
}

.star {
    color: lightgray;
}

.starred {
    color: gold;
}

.btn-menu-hover {
    cursor: pointer;
    border: none;
    background: none;
    color: gray;
    font-size: 1.5rem;
    transition: all .2s;
}

.btn-menu-hover:hover {
    color: black;
}