.mail-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.mail-list-container {
    flex: 6;
}

.mail-list {
    overflow-y: auto;
    height: 100vh;
}

@media all and (max-width: 700px) {
    .mail-container {
        flex-direction: column;
    }
    .side-menu {
        order: 2;
        background-color: #01638a;
        background-image: none;
        position: sticky;
        bottom: 0;
    }
    .side-menu-item {
        margin: auto 0;
    }
    .side-menu-list {
        flex-direction: row;
        display: flex;
    }
    .mail-list-container {
        flex: 11;
    }
    .mail-list{
        height: 70vh;
    }
    .title {
        display: none;
    }
    .mail-item {
        flex-direction: column;
    }
    .date {
        text-align: right;
        order: -1;
    }
}