.side-menu {
    flex: 1;
    background-image: linear-gradient(to bottom, #051f3e, #043c60, #007199, #00a3c6, #12d8eb);
}

.btn-compose {
    width: 100%;
    font-size: 1.2rem;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.side-menu-item {
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    transition: all .1s;
}

.side-menu-item:hover {
    color: gray;
}

.active {
    border-left: 4px solid rgb(180, 180, 180);
}