.side-menu {
    flex-basis: 190px;
    background-image: linear-gradient(to bottom, #051f3e, #043c60, #007199, #00a3c6, #12d8eb);
}

.btn-compose {
    width: 100%;
    font-size: 1.2rem;
    background-color: #0084aa;
}

.btn-compose:hover{
    background-color: #034469;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.side-menu-item {
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px 20;
    transition: all .1s;
}

.side-menu-item:hover {
    color: #cecece;
}

.active {
    border-left: 5px solid rgb(255, 255, 255);
}