.title {
    font-weight: bold;
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.mail-list-container .bold {
    background-color: #efefef;
}

.done {
    text-decoration-line: line-through;
}

.hide {
    display: none;
}

.btn-trash {
    background: none;
    border: none;
    color: gray;
    font-size: 1.7rem;
    transition: all .2s;
    cursor: pointer;
}

.btn-trash:hover {
    color: black;
}

.button {
    padding: 10px;
    color: white;
    background-color: green;
    cursor: pointer;
    transition: all .1s;
}

.button:hover {
    background-color: darkgreen;
}

.bg-lightgray {
    background-color: #ececec;
}

.bg-gray {
    background-color: #bbbbbb;
}

.action-buttons button, .action-buttons a {
    border: none;
    color: #444;
    font-size: 1.3rem;
    outline: none;
    background-color: #bbb;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: all .1s;
    width: 50px;
    height: 50px;
    float: right;
    margin: 2px;
}

.p15 {
    padding: 15;
}