@import './base.css';
@import './helpers.css';
@import './animations.css';
@import './header.css';
@import './components/email-app/email-preview.css';
@import './components/email-app/side-menu.css';
@import './components/email-app/email-details.css';
@import './components/email-app/email-app.css';
@import './components/keeps-app/add-note.css';
@import './components/keeps-app/note.css';
@import './components/keeps-app/keeps-app.css';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}